@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles */
.scrollbar-hide {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
